/* Анимация вращения камня*/

.black-block .media-buyer .rock {
    animation: 10s linear 0s normal none infinite running rock;
    -webkit-animation: 10s linear 0s normal none infinite running rock;
}

@keyframes rock {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rock {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}