@media screen and (min-width: 320px) and (max-width:767px) {
    body {
        background: #F5F5F5;
    }
    .indent {
        padding: 0px 10px;
    }
    /* Хедер */
    #header {
        margin-bottom: 45px;
    }
    #logo {
        display: none;
    }
    .logo-mob {
        display: block;
        font: 700 normal 18px/22px 'Wadik';
        cursor: pointer;
        text-decoration: none;
        color: #000D08;
    }
    /* Меню */
    .menu {
        display: none;
        opacity: 0;
    }
    .menu.menu-active {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 100px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 1;
        background-color: #2A2A2A;
    }
    .menu.menu-active a.menu-item {
        font: 400 normal 18px/18px 'Rock Star';
        color: #FFFFFF;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .menu.menu-active a.urgent-launch {
        font: 400 normal 16px/16px 'Rock Star';
        margin-left: 0px;
        margin-top: 20px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
        z-index: 4;
    }
    .menu-btn {
        display: block;
        width: 45px;
        height: 45px;
        position: relative;
    }
    .menu-btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #ff9900;
        position: absolute;
        top: 50%;
        left: 0%;
        margin-left: 0px;
        margin-top: -1px;
        transition: all 0.4s linear;
    }
    .menu-btn span:before {
        display: block;
        width: 45px;
        height: 3px;
        background: #000000;
        position: absolute;
        top: 0%;
        left: 0%;
        margin-top: -3px;
        transition: all 0.4s linear;
    }
    .menu-btn span:after {
        display: block;
        width: 45px;
        height: 3px;
        background: #000000;
        position: absolute;
        bottom: 0%;
        left: 0%;
        margin-bottom: -1px;
        transition: all 0.4s linear;
    }
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
    }
    .menu-btn span:before {
        transform: translateY(-5px);
    }
    .menu-btn span:after {
        transform: translateY(5px);
    }
    .menu-btn.menu-active span:before {
        display: none;
    }
    .menu-btn.menu-active span {
        width: 30px;
        transform: rotate(45deg);
        transform-origin: center;
        background: #ff9900;
    }
    .menu-btn.menu-active span:after {
        width: 30px;
        transform: rotate(90deg);
        transform-origin: center;
        background: #ff9900;
    }
    /* Первый блок */
    .first-banner {
        display: block;
        margin-bottom: 90px;
    }
    .first-banner .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first-banner .text-wrap h1.title-mob {
        display: inline-block;
        text-align: center;
    }
    .first-banner .text-wrap h1.title-pc {
        display: none;
    }
    .first-banner .text-wrap h1 {
        font: 700 normal 23px/30px 'Wadik';
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .first-banner .text-wrap .description {
        font: 400 normal 16px/20px 'Rock Star';
        padding-right: 35px;
        padding-left: 35px;
        text-align: center;
    }
    .first-banner .banner {
        display: none;
    }
    .first-banner .text-wrap .banner-button {
        font: 400 normal 16px/16px 'Rock Star';
        padding: 15px 30px;
    }
    /* Бегущая строка */
    .ticker {
        margin-bottom: 90px;
    }
    .ticker .ticker-inner {
        padding: 10px 0px;
        font: 700 normal 14px/14px 'Wadik';
    }
    .ticker .ticker-inner .circle {
        width: 7px;
        height: 7px;
        margin: 0px 15px;
    }
    /* Заголовок блоков */
    .block-title {
        font: 700 normal 21px/30px 'Wadik';
        margin-bottom: 20px;
    }
    /* Блок Обо мне */
    .about-me .about-me-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-bottom: 90px;
    }
    .about-me .about-me-grid .about-me-desc .about-me-desc-title {
        font: 700 normal 22px/24px 'Wadik';
        margin-bottom: 10px;
    }
    .about-me .about-me-grid .about-me-desc .about-me-desc-spec {
        font: 700 normal 18px/20px 'Wadik';
    }
    .about-me .about-me-grid .about-me-desc .about-me-desc-text {
        padding-left: 10px;
        font: 400 normal 16px/22px 'Rock Star';
        border-left: 2px solid #ff9900;
    }
    .about-me-desc-buttons {
        padding-top: 20px;
        justify-content: center;
    }
    .about-me-desc-buttons .soc-icon {
        width: 50px;
        height: 50px;
        margin: 0px 10px;
    }
    .about-me-desc-buttons .button {
        display: none;
    }
    /* Черный блок */
    .black-block {
        flex-direction: column;
        padding: 60px 10px;
        margin-bottom: 90px;
    }
    .black-block .media-buyer {
        margin-right: 0px;
        margin-bottom: 75px;
    }
    .black-block .media-buyer .media-buyer-picture {
        width: 100%;
    }
    .black-block .media-buyer .rock {
        display: none;
        width: 300px;
        top: 7px;
        left: 50px;
    }
    .black-block .text {
        padding: 0px 20px;
    }
    .black-block .text p {
        font: 700 normal 18px/28px 'Wadik';
        text-align: center;
    }
    /* Блок Кейсы */
    .cases {
        margin-bottom: 80px;
    }
    .cases .block-title {
        margin-bottom: 30px;
    }
    .slider {
        margin: 0px 20px;
    }
    .slider-item .slider-image .activity {
        padding: 10px 40px;
        font: 700 normal 16px/16px 'SF Pro Display';
    }
    .slider-item .slider-desc {
        padding: 0px 15px 35px;
    }
    .slider-item .slider-desc .slide-title {
        font: 700 normal 22px/26px 'SF Pro Display';
        min-height: 50px;
    }
    .slider-item .slider-desc .text-wrap {
        margin-top: 15px;
    }
    .slider-item .slider-desc .text {
        font: 700 normal 16px/18px 'SF Pro Display';
    }
    .slider-item .slide-button {
        width: 75%;
        font: 400 normal 14px/14px 'Rock Star';
        padding: 15px 0px;
    }
    .slick-prev,
    .slick-next {
        width: 20px;
        height: 28px;
    }
    .slick-prev {
        margin-left: 10px !important;
    }
    .slick-next {
        margin-right: 10px !important;
    }
    /* Блок Услуги */
    .services .block-title {
        padding-right: 20%;
        margin-bottom: 50px;
    }
    .services-flex {
        display: none;
    }
    .services-mob {
        display: block;
        margin-bottom: 90px;
    }
    .services-mob .services-mob-item {
        padding: 25px 15px;
        margin: 0 auto;
        width: 90%;
        background: #FFFFFF;
        border: 1px solid #ff9900;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .services-mob .services-mob-item.test-mob {
        margin-bottom: 50px;
    }
    .services-title-mob {
        font: 700 normal 18px/20px 'Wadik';
        color: #000D08;
        margin-bottom: 7px;
    }
    .services-sub-title-mob {
        font: 400 normal 14px/18px 'Rock Star';
        margin-bottom: 7px;
    }
    .services-price-mob {
        font: 900 normal 18px/20px 'Rock Star';
        color: #ff9900;
        margin-bottom: 30px;
    }
    .services-mob-toggle {
        display: none;
        padding-top: 40px;
    }
    .services-mob-toggle.active {
        display: block;
    }
    .services-mob-toggle .services-desc-mob {
        padding-left: 20px;
        list-style-type: disc;
    }
    .services-mob-toggle .services-desc-mob li {
        font: 400 normal 14px/18px 'Rock Star';
        color: #000D08;
        margin-bottom: 15px;
    }
    .services-mob-toggle .services-desc-mob li span {
        font-weight: bold;
    }
    .services-mob-toggle .button {
        display: block;
        width: 75%;
        margin: 30px auto 0px;
        font: 400 normal 14px/14px 'Rock Star';
        color: #000D08;
        text-align: center;
        padding: 15px 0px;
        background: #ff9900;
        border: 2.5px solid #000D08;
        cursor: pointer;
        text-decoration: none;
        -webkit-box-shadow: 4px 4px 0px 0px #000d08;
        box-shadow: 4px 4px 0px 0px #000d08;
        transition: 0.5s;
    }
    .button-more {
        display: inline-block;
        font: 400 normal 14px/14px 'Rock Star';
        color: #000D08;
        text-align: center;
        padding: 10px 20px;
        background: #ff9900;
        border: 2.5px solid #000D08;
        cursor: pointer;
        text-decoration: none;
        -webkit-box-shadow: 4px 4px 0px 0px #000d08;
        box-shadow: 4px 4px 0px 0px #000d08;
        transition: 0.5s;
    }
    /* Блок Этапы работы */
    .steps-block {
        grid-template-columns: 1fr;
        margin-bottom: 90px;
    }
    .steps-block .fixed-title {
        position: relative;
        top: 0px;
        margin-bottom: 40px;
    }
    .steps-block .fixed-title span {
        font: 700 normal 21px/30px 'Wadik';
        margin-right: 0px;
    }
    .steps-block .fixed-title img {
        display: none;
    }
    .steps-block .steps .steps-item {
        margin-bottom: 50px;
    }
    .steps-block .steps .steps-item .step-label {
        margin-bottom: 15px;
    }
    .steps-block .steps .steps-item .step-label .step-name {
        font: 400 normal 14px/14px 'Rock Star';
    }
    .steps-block .steps .steps-item .step-text {
        font: 400 normal 16px/20px 'Rock Star';
    }
    /* Блок форма */
    .form-block {
        margin-top: 100px;
    }
    .form-block .statue {
        display: none;
    }
    .form-block .form {
        width: 100%;
        padding: 0px 40px;
        margin-bottom: 50px;
    }
    .form-block .form .form-title {
        font: 700 normal 21px/30px 'Wadik';
    }
    .form-block .form .form-sub-title {
        font: 700 normal 16px/22px 'Wadik';
        margin-bottom: 45px;
    }
    #note .ok {
        min-height: 200px;
        text-align: left;
        font: 400 normal 20px/24px 'Rock Star';
    }
    #note .err {
        margin-top: 30px;
        text-align: left;
        font: 400 normal 20px/24px 'Rock Star';
    }
    #note2 .ok {
        min-height: auto;
        text-align: center;
        font: 400 normal 16px/20px 'Rock Star';
    }
    #note2 .err {
        margin-top: 30px;
        text-align: center;
        font: 400 normal 16px/20px 'Rock Star';
    }
    .contact input[type=text],
    .contact input[type=tel] {
        font: 400 normal 16px/16px 'Rock Star';
        border-bottom: 1px solid #000D08;
    }
    .contact .checkbox-wrap {
        padding-top: 20px;
    }
    .contact .checkbox-wrap p {
        font: 400 normal 16px/16px 'Rock Star';
    }
    .contact .checkbox-wrap label {
        padding-left: 25px;
    }
    .contact .checkbox-wrap label .chekbox-img {
        width: 26px;
        height: 26px;
        margin-left: -35px;
    }
    .contact .checkbox-wrap label span {
        font: 400 normal 16px/26px 'Rock Star';
    }
    .form-button {
        width: 80%;
        font: 400 normal 14px/14px 'Rock Star';
        margin: 0 auto;
    }
    /* Footer */
    .footer {
        padding: 45px 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer .right-part {
        margin-bottom: 25px;
    }
    .footer .right-part .social-icons {
        margin-bottom: 25px;
    }
    .footer .right-part .social-icons .social-icon {
        margin-right: 15px;
    }
    .footer .right-part .email {
        font: 400 normal 14px/14px 'Rock Star';
    }
    .footer .left-part {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer .left-part a {
        margin-bottom: 25px;
    }
    .footer .left-part p {
        margin-bottom: 0px;
    }
    .footer .left-part p,
    .footer .left-part a {
        font: 400 normal 14px/14px 'Rock Star';
    }
    /*Модальное окно по кнопке "Срочный запуск" */
    .pop-up-body-urgent-launch {
        top: 20px;
        left: calc(50% - 46%);
        width: 92%;
        max-width: 100%;
    }
    .pop-up-body-urgent-launch .title {
        font: 700 normal 22px/24px 'Wadik';
    }
    .pop-up-body-urgent-launch .sub-title {
        font: 400 normal 16px/16px 'Rock Star';
        padding: 0px 30px;
    }
    .pop-up-body-urgent-launch .time {
        font: 700 normal 20px/20px 'Wadik';
    }
    .pop-up-body-urgent-launch .cta {
        font: 700 normal 20px/22px 'Wadik';
    }
    .pop-up-body-urgent-launch .social-icons {
        width: 80%;
    }
    /* Модальное окно обсудить проект */
    .pop-up-close {
        top: 5px;
        right: 5px;
    }
    .pop-up-body-contact {
        top: 20px;
        left: calc(50% - 48%);
        width: 96%;
        max-width: 100%;
        padding: 30px 15px;
    }
    .pop-up-body-contact .contact {
        padding: 0px;
    }
    .pop-up-body-contact .title {
        font: 700 normal 22px/24px 'Wadik';
    }
    .pop-up-body-contact .sub-title {
        font: 400 normal 14px/16px 'Rock Star';
    }
    .pop-up-body-contact .contact input[type=text],
    .pop-up-body-contact .contact input[type=tel] {
        font: 400 normal 14px/14px 'Rock Star';
        width: 100%;
    }
    .pop-up-body-contact .chebox-button-wrap {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 0px 10px;
    }
    .pop-up-body-contact .contact .checkbox-wrap {
        margin-bottom: 30px;
    }
    .pop-up-body-contact .contact .checkbox-wrap p {
        font: 400 normal 14px/16px 'Rock Star';
    }
    .pop-up-body-contact .contact .checkbox-wrap label span {
        font: 400 normal 14px/26px 'Rock Star';
    }
    .pop-up-body-contact .form-button {
        width: 85%;
        padding: 15px 0px;
    }
    /* Модальное окно Спасибо */
    .thanks-body {
        width: 94%;
        left: calc(50% - 47%);
        padding: 45px 10px
    }
    .flex-wrap .text .sub-title {
        font: 400 normal 16px/20px 'Rock Star';
    }
    .flex-wrap img {
        height: 80px;
        width: 80px;
    }
    /* Модальное окно слайдер*/
    .pop-up-slider-body img.slider-image-pc {
        display: none;
    }
    .pop-up-slider-body img.slider-image-mob {
        display: block;
        width: 100%;
    }
    .pop-up-slider-body {
        top: 100px;
        left: calc(50% - 48%);
        width: 96%;
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    /* Хедер */
    #header {
        padding-top: 30px;
    }
    /* Меню */
    .menu {
        display: none;
        opacity: 0;
    }
    .menu.menu-active {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 100px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 1;
        background-color: #2A2A2A;
    }
    .menu.menu-active a.menu-item {
        font: 400 normal 18px/18px 'Rock Star';
        color: #FFFFFF;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .menu.menu-active a.urgent-launch {
        font: 400 normal 16px/16px 'Rock Star';
        margin-left: 0px;
        margin-top: 20px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 15px;
        z-index: 4;
    }
    .menu-btn {
        display: block;
        width: 45px;
        height: 45px;
        position: relative;
    }
    .menu-btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #ff9900;
        position: absolute;
        top: 50%;
        left: 0%;
        margin-left: 0px;
        margin-top: -1px;
        transition: all 0.4s linear;
    }
    .menu-btn span:before {
        display: block;
        width: 45px;
        height: 3px;
        background: #000000;
        position: absolute;
        top: 0%;
        left: 0%;
        margin-top: -3px;
        transition: all 0.4s linear;
    }
    .menu-btn span:after {
        display: block;
        width: 45px;
        height: 3px;
        background: #000000;
        position: absolute;
        bottom: 0%;
        left: 0%;
        margin-bottom: -1px;
        transition: all 0.4s linear;
    }
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
    }
    .menu-btn span:before {
        transform: translateY(-5px);
    }
    .menu-btn span:after {
        transform: translateY(5px);
    }
    .menu-btn.menu-active span:before {
        display: none;
    }
    .menu-btn.menu-active span {
        width: 30px;
        transform: rotate(45deg);
        transform-origin: center;
        background: #ff9900;
    }
    .menu-btn.menu-active span:after {
        width: 30px;
        transform: rotate(90deg);
        transform-origin: center;
        background: #ff9900;
    }
    /* Перый блок */
    .first-banner .text-wrap h1 {
        font: 700 normal 24px/32px 'Wadik';
    }
    .first-banner .text-wrap .description {
        font: 600 normal 18px/20px 'Rock Star';
    }
    .first-banner .text-wrap .banner-button {
        font: 400 normal 16px/16px 'Rock Star';
        padding: 15px 30px;
    }
    /*Бегущая строка*/
    .ticker-inner {
        font: 700 normal 20px/20px 'Wadik';
    }
    /* Заголовок блоков */
    .block-title {
        font: 700 normal 24px/26px 'Wadik';
    }
    /* Блок Обо мне */
    .about-me .about-me-grid {
        grid-template-columns: 1fr;
    }
    .about-me .about-me-grid .my-foto {
        width: 50%;
        margin: 0 auto;
    }
    .about-me .about-me-grid .about-me-desc {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .about-me .about-me-grid .about-me-desc .about-me-desc-title,
    .about-me .about-me-grid .about-me-desc .about-me-desc-spec {
        font: 700 normal 28px/34px 'Wadik';
    }
    .about-me .about-me-grid .about-me-desc .about-me-desc-text {
        font: 400 normal 20px/24px 'Rock Star';
    }
    .about-me-desc-buttons {
        padding-top: 30px;
    }
    .about-me-desc-buttons .button {
        font: 400 normal 16px/16px 'Rock Star';
        padding: 15px 55px;
    }
    /* Черный блок */
    .black-block {
        flex-direction: column;
    }
    .black-block .media-buyer {
        margin-right: 0px;
        margin-bottom: 100px;
    }
    .black-block .media-buyer .rock {
        position: absolute;
        width: 400px;
        top: 35px;
        left: calc(50% - 200px);
    }
    .black-block .text p {
        font: 700 normal 24px/32px 'Wadik';
        text-align: center;
    }
    /* Блок Кейсы */
    .cases {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .slick-prev,
    .slick-next {
        width: 30px;
        height: 41px;
    }
    .slick-prev {
        margin-left: 0px !important;
    }
    .slick-next {
        margin-right: 0px !important;
    }
    .slider-item .slider-image .activity {
        padding: 15px 40px;
        font: 700 normal 18px/18px 'SF Pro Display';
    }
    .slider-item .slider-desc .slide-title {
        font: 700 normal 22px/26px 'SF Pro Display';
    }
    .slider-item .slider-desc .text {
        font: 700 normal 18px/26px 'SF Pro Display';
    }
    .slider-item .slide-button {
        width: 90%;
        max-width: 300px;
        font: 400 normal 16px/16px 'Rock Star';
        padding: 15px 0px;
    }
    /* Блок Услуги */
    .services-flex .services-flex-item {
        padding: 25px 20px 25px;
    }
    .services-flex .services-flex-item .services-title {
        font: 700 normal 22px/24px 'Wadik';
    }
    .services-flex .services-flex-item .services-sub-title {
        font: 700 normal 20px/22px 'Rock Star';
    }
    .services-flex .services-flex-item .services-desc li {
        font: 400 normal 16px/18px 'Rock Star';
    }
    .services-flex .services-flex-item .button {
        width: 90%;
        max-width: 300px;
        font: 400 normal 16px/16px 'Rock Star';
        padding: 15px 0px;
    }
    /* Блок Этапы работы */
    .steps-block .fixed-title {
        width: 90%;
    }
    .steps-block .steps .steps-item {
        margin-bottom: 85px;
    }
    .steps-block .fixed-title span {
        font: 700 normal 24px/26px 'Wadik';
    }
    .steps-block .fixed-title img {
        width: 60px;
    }
    .steps-block .steps .steps-item .step-label {
        margin-bottom: 20px;
    }
    .steps-block .steps .steps-item .step-text {
        font: 400 normal 16px/18px 'Rock Star';
    }
    /* Блок Форма */
    .form-block .statue {
        display: none;
    }
    .form-block .form {
        margin: 0 auto;
    }
    .form-block .form .form-title {
        font: 700 normal 26px/30px 'Wadik';
        text-align: center;
    }
    .form-block .form .form-sub-title {
        font: 700 normal 20px/23px 'Wadik';
        text-align: center;
    }
    #note .ok {
        text-align: center;
        min-height: 200px;
        font: 400 normal 22px/36px 'Rock Star';
    }
    #note .err {
        text-align: center;
        margin-top: 30px;
        font: 400 normal 22px/36px 'Rock Star';
    }
    #note2 .ok {
        text-align: center;
        min-height: 200px;
        font: 400 normal 22px/36px 'Rock Star';
    }
    #note2 .err {
        text-align: center;
        margin-top: 30px;
        font: 400 normal 22px/36px 'Rock Star';
    }
    .contact input[type="text"],
    .contact input[type="tel"] {
        font: 400 normal 18px/18px 'Rock Star';
        text-align: center;
        width: 350px;
        margin: 0 auto;
    }
    .contact .checkbox-wrap {
        width: 350px;
        margin: 0px auto 30px;
    }
    .contact .checkbox-wrap p {
        font: 400 normal 18px/20px 'Rock Star';
        text-align: center;
    }
    .contact .checkbox-wrap label {
        margin-left: 40px;
    }
    .contact .checkbox-wrap label span {
        font: 400 normal 18px/28px 'Rock Star';
    }
    .contact .checkbox-wrap label .chekbox-img {
        width: 28px;
        height: 28px;
        margin-left: -45px;
    }
    .form-button {
        font: 400 normal 16px/16px 'Rock Star';
        padding: 15px 0px;
        margin: 0 auto;
    }
    /* Футер */
    .footer .left-part p,
    .footer .left-part a,
    .footer .right-part .email {
        font: 400 normal 16px/16px 'Rock Star';
    }
    /*Модальное окно по кнопке "Срочный запуск" */
    .pop-up-body-urgent-launch {
        top: 20px;
        left: calc(50% - 35%);
        width: 70%;
        max-width: 100%;
    }
    .pop-up-body-urgent-launch .title {
        font: 700 normal 22px/24px 'Wadik';
    }
    .pop-up-body-urgent-launch .sub-title {
        font: 400 normal 16px/16px 'Rock Star';
        padding: 0px 30px;
    }
    .pop-up-body-urgent-launch .time {
        font: 700 normal 20px/20px 'Wadik';
    }
    .pop-up-body-urgent-launch .cta {
        font: 700 normal 20px/22px 'Wadik';
    }
    .pop-up-body-urgent-launch .social-icons {
        width: 80%;
    }
    /* Модальное окно обсудить проект */
    .pop-up-close {
        top: 5px;
        right: 5px;
    }
    .pop-up-body-contact {
        top: 20px;
        left: calc(50% - 35%);
        width: 70%;
        max-width: 100%;
        padding: 30px 15px;
    }
    .pop-up-body-contact .contact {
        padding: 0px;
    }
    .pop-up-body-contact .title {
        font: 700 normal 22px/24px 'Wadik';
    }
    .pop-up-body-contact .sub-title {
        font: 400 normal 14px/16px 'Rock Star';
    }
    .pop-up-body-contact .contact input[type=text],
    .pop-up-body-contact .contact input[type=tel] {
        width: 75%;
        font: 400 normal 14px/14px 'Rock Star';
        margin-bottom: 20px;
    }
    .pop-up-body-contact .chebox-button-wrap {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 0px 10px;
    }
    .pop-up-body-contact .contact .checkbox-wrap {
        margin-bottom: 30px;
    }
    .pop-up-body-contact .contact .checkbox-wrap p {
        font: 400 normal 14px/16px 'Rock Star';
    }
    .pop-up-body-contact .contact .checkbox-wrap label span {
        font: 400 normal 14px/26px 'Rock Star';
    }
    .pop-up-body-contact .form-button {
        width: 75%;
        padding: 15px 0px;
    }
}